{{!--

 THIS PAGE WILL DISPLAY THE TABLE OF WORKOUTS THAT THE USER HAS CREATED
 IT WILL DISPLAY IN DESCENDING ORDER BY DATE
 
--}}


{{!-- dropdown that is exactly the same as the one in newWorkout is here --}}
        <div class="form-group">
          <label for="exercise">Exercise:</label>
          <select id="exercise" class="form-control">
            <optgroup label="Barbell"></optgroup>
              <option value="benchPress">Bench Press</option>
              <option value="squats">Squat</option>
              <option value="deadlift">Deadlift</option>
              <option value="overHeadPress">Overhead Press</option>
              <option value="barbellRow">Row</option>
              <option value="hipThrust">Hip Thrust</option>
              <option value="snatch">Snatch</option>
              <option value="cleanAndJerk">Clean and Jerk</option>
            </optgroup>
            <optgroup label="DumbBell"></optgroup>
              <option value="dbPress">DB Press</option>
              <option value="dbLunge">DB Lunge</option>
              <option value="dbRow">DB Row</option>
              <option value="dbCurl">DB Curl</option>
              <option value="bulgarianSquat">Bulgarian Squat</option>
              <option value="dbFly">DB Fly</option>
              <option value="lateralRaise">Lateral Raise</option>
            </optgroup>
            <optgroup label="Machine"></optgroup>
              <option value="legPress">Leg Press</option>
              <option value="legCurl">Leg Curl</option>
              <option value="legExtension">Leg Extension</option>
              <option value="hackSquat">Hack Squat</option>
              <option value="machineRow">Machine Row</option>
              <option value="machinePress">Machine Press</option>
              <option value="machineShoulderPress">Machine Shoulder Press</option>
              <option value="smithSquat">Smith Machine Squat</option>
            </optgroup>
            <optgroup label="Cable"></optgroup>
              <option value="singleArmPulldown">Single Arm Pulldown</option>
              <option value="singleArmRow">Single Arm Row</option>
              <option value="cablePulldown">Cable Pulldown</option>
              <option value="cableRow">Cable Row</option>
              <option value="cableFly">Cable Fly</option>
              <option value="cableLateralDeltoidRaise">Cable Lateral Deltoid Raise</option>
              <option value="cableTricepExtension">Cable Tricep Extension</option>
              <option value="cableTricepSkullcrusher">Cable Tricep Skullcrusher</option>
            </optgroup>
            <optgroup label="Bodyweight"></optgroup>
              <option value="pushUp">Push Up</option>
              <option value="pullUp">Pull Up</option>
              <option value="chinUp">Chin Up</option>
              <option value="dip">Dip</option>
              <option value="bodyweightSquat">Bodyweight Squat</option>
              <option value="bodyweightLunge">Bodyweight Lunge</option>
              <option value="bodyweightRow">Bodyweight Row</option>
              <option value="bodyweightHipThrust">Bodyweight Hip Thrust</option>
            </optgroup>
          </select>
        </div>

{{!-- this is the table that will display the workouts in the format of date - weight sets reps that pulls from the database --}}<table class="table">
    <thead>
        <tr>
            <th>Date</th>
            <th>Exercise</th>
            <th>Weight</th>
            <th>Sets</th>
            <th>Reps</th>
        </tr>
    </thead>
    <tbody>
        {{#each workouts}}
            <tr>
                <td>{{date}}</td>
                <td>{{exercise}}</td>
                <td>{{weight}}</td>
                <td>{{sets}}</td>
                <td>{{reps}}</td>
            </tr>
        {{/each}}
    </tbody>
</table>
